# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/SampleContact.Api/obj/Debug/netcoreapp3.1
/SampleContact.Data/obj/Debug/netcoreapp3.1
/SampleContact.Tests/obj/Debug/netcoreapp3.1
/SampleContact.Api/obj/Release/netcoreapp3.1
/SampleContact.Data/obj/Release/netcoreapp3.1
/SampleContact.Tests/obj/Release/netcoreapp3.1
/.vs
/SampleContact.Api/bin/Debug/netcoreapp3.1
/SampleContact.Api/obj
/SampleContact.Data/bin/Debug/netcoreapp3.1
/SampleContact.Data/obj
/SampleContact.Tests/bin/Debug/netcoreapp3.1
/SampleContact.Tests/obj
